@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.lato-normal {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------header section starts here---- */
.banner-container {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image {
  width: 535px;
  height: 700px;
}
.banner-image img {
  width: 100%;
  height: 100%;
}
.banner-description h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 32px;
}
.banner-description p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 32px;
}
.banner-description {
  padding-right: 97px;
}
.banner-description button {
  border-radius: 8px;
  background-color: rgb(229, 84, 115);
  color: white;
  padding: 20px 43px;
  border: none;
}
/* ------header section ends here---- */
/* ------feature section starts here---- */
.feature-description {
  text-align: center;
}
.feature-description h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 24px;
}
.feature-description p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 48px;
}
.flower1,
.flower2,
.flower3 {
  width: 357px;
  height: 414px;

  text-align: center;
  border-radius: 50% 50% 0 0;
}
.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.flower1 img {
  width: 238px;
  height: 329px;
}
.flower2 img {
  width: 284px;
  height: 284px;
}
.flower3 img {
  width: 241px;
  height: 362px;
}
.flower1 {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: rgba(167, 33, 98, 0.15);
}
.flower2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 151, 160, 0.15);
}
.flower3 {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: rgba(71, 125, 17, 0.15);
}
.pink,
.flower,
.tree {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.pink p,
.flower p,
.tree p {
  padding-top: 32px;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
}
.feature {
  margin-top: 178px;
  margin-bottom: 128px;
}
/* ------feature section ends here---- */
/* ------service section starts here---- */
.services {
  width: 1108px;
  height: 320px;
  margin: 0 auto 128px auto;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.delivery-service,
.flower-service,
.support-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delivery-service img,
.flower-service img,
.support-service img {
  padding-bottom: 28px;
}

/* ------service section ends here---- */
/* ------deals section starts here---- */
.deals {
  height: 620px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.05);
  margin-bottom: 128px;
}
.deals-description h1 span {
  color: rgb(229, 84, 115);
}
.deals-description button {
  border-radius: 8px;
  color: white;
  background-color: rgb(229, 84, 115);
  padding: 20px 35px;
  border: none;
}
.deals-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 186px;
}
.deals-description h1 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 24px;
}
.deals-description p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 32px;
}
/* ------deals section ends here---- */
/* ------instagram section starts here---- */
.instagram-description {
  text-align: center;
}
.instagram-images {
  text-align: center;
}
.instagram-images img {
  padding-right: 18px;
  width: 263px;
  height: 304px;
}
.instagram-images img:last-child {
  padding-right: 0px;
}
.instagram-description h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 24px;
}
.instagram-description p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 48px;
}
.instagram {
  margin-bottom: 128px;
}
/* ------instagram section ends here---- */
/* ------newsletter section starts here---- */
.newsletter {
  background-image: url("../Flower Asset/newsletter.png");
  background-size: cover;
  background-position: center;
  width: 1108px;
  height: 449px;
  margin: 0 auto 128px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter-description h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 16px;
}
.newsletter-description p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 48px;
}
.newsletter-input input {
  width: 539px;
  height: 55px;
  border: none;
  border-radius: 8px;
}
::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;

  padding: 23px 22px;
}
.newsletter-input button {
  border-radius: 8px;
  color: white;
  background-color: rgb(229, 84, 115);
  border: none;
  padding: 18px 31px;
  margin-left: 16px;
}
/* ------newsletter section ends here---- */
/* ------footer section starts here---- */
footer {
  background-color: #111010;
  text-align: center;
  height: 449px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h1 span {
  color: #e55473;
}
footer h1 {
  color: white;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0%;
  padding-bottom: 24px;
}
.p-description {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 32px;
}
.year {
  color: rgba(255, 255, 255, 0.4);

  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
/* ------footer section ends here---- */
.hide {
  display: none;
}
/* small device */
@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-description {
    padding-left: 20px;
  }
  .feature-image {
    flex-direction: column;
  }
  .banner-image {
    width: 80%;
  }
  .banner-description {
    padding: 0px;
    margin: 0px;
  }
  .flower1,
  .flower2,
  .flower3 {
    width: 90vw;
    height: 414px;
  }
  .flower1 img,
  .flower2 img,
  .flower3 img {
    width: 80%;
  }
  .services {
    flex-direction: column;
    width: 90vw;
    height: 700px;
  }
  .deals {
    flex-direction: column;
    height: 800px;
  }
  .deals-description {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .instagram-images img {
    padding-right: 0px;
  }
  .newsletter {
    width: 100%;
  }
  .newsletter-input input {
    width: 95vw;
    margin-left: 5px;
  }
  .newsletter-input button {
    margin-left: 5px;
    margin-top: 5px;
  }
  .banner-description h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .banner-description {
    padding-left: 5px;
  }
}
